*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

main{
    background-image: linear-gradient(to right, #3BC0E4, #EAECC6);
    padding-bottom: 2rem;
}

footer{
    background-color: black;
    color: white;
}

header{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, #1880b8 0%, #221c6a 90% );
    display: flex;
    justify-content: start;
}


.tituloPrincipal{
    padding-top: 3rem;
    font-size: 300%;
    
}

.deportes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.cartaDeportesPrimarios{
    margin: 5rem 0;
    border: 2px solid black;
    border-radius: 2rem;
    background-image: linear-gradient( 111.8deg, rgba(14,139,243,1) 36.1%, rgba(41,68,198,1) 72.9% );
    width: 30%;
    display: grid;
    grid-template-rows: 100px 100px 600px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "titDep titDep"
                        "iconDep descDep"
                        "imgDep imgDep";
}
.tituloDeporte{
    grid-area: titDep;
    padding-top: 1rem;
}
.descripcionDeporte{
    grid-area: descDep;
}
.iconoDeporte{
    grid-area: iconDep;
    border: 1px solid white;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
.imagenDeporte{
    grid-area: imgDep;
    border: 1px solid white;
    margin: 3px 20px;
}

.tituloProductosDestacados{
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.linksFooter{
    display: flex;
    justify-content: space-around;
}
.linksFooter > a{
    color: white;
}

@media only screen and (max-width: 1050px){
    .deportes{
        display: flex;
        flex-direction: column;
    }
    .cartaDeportesPrimarios{
        width: 80%;
        margin: 2rem 0;
        height: 500px;
    }
    .imagenDeporte{
        height: 260px;
    }
    .iconoDeporte{
        width: 100px;
    }
}