.contenedor{
    display: flex;
    justify-content: center;
    /*grid-template-areas: 
    "prod1 prod1 prod1 prod2 prod2 prod2"
    "prod3 prod3 prod4 prod4 prod5 prod5";*/
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 30px;
    border: 1px solid black;
    padding: 0 2rem;
    margin: 0 2rem;
}

main{
    background-image: linear-gradient(to right, #3BC0E4, #EAECC6);
    padding-bottom: 2rem;
}

.producto{
    width: 30%;
    grid-area: prod1;
    border: 1px solid rgb(109, 107, 107);
}
@media only screen and (max-width: 1560px){
    .nombreProducto{
        height: 80px;
    }
}

@media only screen and (max-width: 1000px){
    .producto{
        width: 45%;
    }
}

@media only screen and (max-width: 800px){
    .producto{
        width: 100%;
    }
}
